# Virtual environment folder (always ignore this)
venv/

# Ignore the actual large data file
data/MachineLearningRating_v3.txt

# Compiled Python files
*.pyc
__pycache__/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# DVC cache
.dvc/cache/

# Do NOT ignore the pointer files (which are essential for Git)
!*.dvc